<h1>New feedback</h1>
You have new feedback:
<p><strong>User:</strong> <%= @user %></p>
<p><strong>Email:</strong> <%= @email %></p>
<p><strong>Title:</strong> <%= @title %></p>
<p><strong>Text:</strong> <%= @text %></p>