<h1><%= question_header(@question, action_name) %></h1>

<%= render 'form' %>

<p>
  <%= link_to "Back to test #{@test.title}", test_path(@test) %>
  <%= link_to 'Back to all tests', tests_path %>
</p>