<li>
	<%= answer.text %><br>
	<%= link_to t('general.show'), admin_answer_path(answer) %> | 
	<%= link_to t('general.edit'), edit_admin_answer_path(answer) %> | 
	<%= link_to t('general.delete'), admin_answer_path(answer), method: :delete, data: { confirm: t('general.are_you_sure?') } %>
</li>