<tr>
  <th scope="row" class="text-left"><%= question.body %></th>
  <td class="w-25">
    <div class="btn-group" role="group" >
      <%= link_to t('general.show'), admin_question_path(question), role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('general.edit'), edit_admin_question_path(question), role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('general.delete'), admin_question_path(question), role: 'button', class: 'btn btn-outline-dark btn-sm', method: :delete, data: { confirm: t('general.are_you_sure?') } %>
    </div>
  </td>
</tr>