<div class="row">
  <div class="col">
    <%= render 'form', model: [:admin, @test, @question] %>

    <div class="btn-group" role="group" >
      <%= link_to t('general.back_to_test', title: @test.title), admin_test_path(@test), role: 'button', class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to t('general.back_to_all_tests'), admin_tests_path, role: 'button', class: 'btn btn-outline-dark btn-sm' %>
    </div>
  </div>
</div>