<div class="row">
  <div class="col">
    <h1><%= t('.header') %></h1>

    <%= render 'form' %>

    <div class="btn-group" role="group" >
      <%= link_to t('general.back_to_all_tests'), admin_tests_path, role: 'button', class: 'btn btn-outline-dark btn-sm' %>
    </div>
  </div>
</div>